*{
    margin:0;  
}
body{
    background-image: url("../img/40616.jpg");
    background-attachment: fixed;
    font-family:abc;
}
@font-face{
    src:url(../fonts/10967.otf);
    font-family:abc;
}
@font-face{
    src:url(../fonts/10916.ttf);
    font-family:as; 
}
.blockForInfo{
    height: auto;
}
.mt30{
    margin-top:30px;
}
.ml15{
    margin-left:15px;
}
.parallax-container {
      height: 250px;;
}
.mt15{
    margin-top:15px;
}
.mb15{
    margin-bottom: 15px;
    margin-top: 15px;
}
.mlOver{
   margin-left:630px; 
}